@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
html { 
			height: 100vh;
			padding: 0;
			margin: 0;
		}
		body {
			min-height: 100vh;
			padding: 0;
			margin: 0;
			font-family: "Lucida Grande";
		}
		h5 {
			padding: 0;
		    margin-left: 5%;
		    margin-bottom: 0;
		    margin-right: 0;
		    margin-top: 0;
		    color: rgb(128, 121, 121);
		    font-size: 11px;
		}
		#maincontainer {
			display: flex; 
			justify-content: space-around;
			width: 100vw;height: 100vh;
			align-items: stretch;"
		}
		#groupscontainer {
			flex: 1;
			border-right: 2px solid #ddd;
		}
		#contactcontainer {
			flex: 2;
			border-right: 2px solid #ddd;
		}
		#contactinfo {
			flex: 3;
			min-height: 360px;
		}
		table {
			margin: 2%;
			table-layout: fixed;
    		width: 95%;
		}
		td {
   			border-bottom: 1px solid #ddd;
   			width: 30%;
   			padding: 1%;
		}
		dd,dl {
			margin-left: 2%;
			padding: 3%;
		}
		li {
			list-style: none;
			padding-left: 5%;
		    padding-bottom: 1%;
		    padding-right: 1%;
		    padding-top: 1%;
		    font-size: 13px;
		    color: rgb(128, 121, 121);
		}
		ul {
			padding: 0;
    		margin-bottom: 2%;
    		margin-top: 2%;
		}
		td > span {
			float: right;
		}
		.mainList{
			padding-left: 10%;
		}
		.contactList {
			color: black;
		}
		.search { position: relative; }
		.search .fa-search {
		    position: absolute;
		    top: 65%;
		    left: 41%;
		    font-size: 11px;
		    color: rgb(128, 121, 121);
		}
		.fa.fa-user {
			right: 10%;
    		position: absolute;
		}
		.infoRow {
			font-size: 12px;
			color: rgb(128, 121, 121);

		}
		.active {
			background-color: rgb(220,220,220);
		}


		button {
		    cursor: pointer;
		}

		.dropdown {
		    position: relative;
		    display: inline-block;
		    width: 90%;
    		position: absolute;
    		bottom: 2%;
    		left: 5%;
		}

		.dropdown-content {
		    position: absolute;
		    background-color: rgb(245,245,245);
		    box-shadow: 0px 0px 10px 2px rgba(1,1,1,0.2);
		    border-radius: 5%;
		    min-width: 160px;
		    z-index: 1;
		    bottom: 100%;
		}

		.dropdown-content span {
		    padding: 5px 16px;
		    display: block;
			font-family: "Lucida Grande";
			font-size: 12px; 
		}

		.dropdown-content a:hover {background-color: #f1f1f1}

		hr {
			color: rgb(197, 196, 196);
		}

		.hide {
			display: none;
		}

		.show {
			display: block;
		}